<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../libs/bootstrap/v3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/app.css">
</head>
<body>
<header class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <img class="pull-left" src="../assets/logo/48_63.png" alt="">
                <a class="navbar-brand" href="#">WELKIN</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">特性</a></li>
                    <li><a href="#">规范</a></li>
                    <li><a href="#">文档</a></li>
                    <li><a href="#">what' new?</a></li>

                </ul>

                <div class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                                <div class="input-group-addon">GO!</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="main">
    <div class="app-aside">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            样式
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="">快速开始</a></li>
                            <li class="list-group-item"><a href="">栅格系统</a></li>
                            <li class="list-group-item"><a href="">响应式工具</a></li>
                            <li class="list-group-item"><a href="">排版</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            组件
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="">导航条</a></li>
                            <li class="list-group-item"><a href="">工具提示</a></li>
                            <li class="list-group-item"><a href="">下拉菜单</a></li>
                            <li class="list-group-item"><a href="">进度条</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            插件
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="">警告框</a></li>
                            <li class="list-group-item"><a href="">模态框</a></li>
                            <li class="list-group-item"><a href="">手风琴</a></li>
                            <li class="list-group-item"><a href="">图片轮播</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-content">
        <div class="container-fluid">
            asfasf
        </div>

    </div>
</section>
<footer class="app-footer">
    <div class="container text-center">
        <img src="../assets/logo/144_16.png" alt="">
        <p>Powered by Sunyard ©1900-2099. ...........</p>
    </div>
</footer>

<script src="../../libs/jquery/1.9.1/jquery.js"></script>
<script src="../../libs/bootstrap/v3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
