

<%include common/header.ejs%>

<section class="main">
    <div class="main-top text-center">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <img src="welkin/src/assets/logo/144_16.png" alt="">
        <div>
            <a class="btn btn-primary" href="/getstarted">GET STARTED</a>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>

    </div>
</section>

<%include common/footer.ejs%>

</body>
</html>
