

<%include common/header.ejs%>




<section class="main">
    <%include common/aside.ejs%>

    <div class="app-content">
        <div class="container-fluid">
            导航条
        </div>

    </div>
</section>





<%include common/footer.ejs%>

</body>
</html>
